################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/YouTrade.Winform/YouTrade.Winform/bin/Debug/Output/Income/Temp
/YouTrade.Winform/YouTrade.Winform/bin/Debug
